<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <!--Configuración de la base de datos -->
  <connectionStrings>
    <add name="BatallasDB"
         connectionString="Data Source=VAS-119\SQLEXPRESS;Initial Catalog=BATALLAS;Integrated Security=True;Encrypt=True;TrustServerCertificate=True;"
         providerName="System.Data.SqlClient" />
  </connectionStrings>

  <!--Configuración del servidor -->
  <appSettings>
    <add key="IP_SERVIDOR" value="127.0.0.1" />
    <add key="PUERTO_SERVIDOR" value="14100" />
    <add key="MAX_CLIENTES" value="8" />
  </appSettings>
</configuration>
